.loginScreen {
  background-color: rgb(40, 40, 40);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content
{
    color: black;
}
