@import "Common";

table.configTable
{
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
    font-size: 12pt;
    border-radius: 6px;
    box-shadow: 0 0 1px #aaa, 1px 1px 2px rgba(30, 30, 30, 0.8);
}

@mixin cellBorder
{
    border: solid #aaa 1px;
}

.configTable
{
    th
    {
        @include titleBackgroundGradient;
        @include cellBorder;
        @include textWithGlow;
    }
    td
    {
        background: white;
        @include cellBorder;
    }
    @include roundedTable(6px);
}

