@import "Common";

.navbar
{
    display: grid;
    grid-gap: 1em;
    padding-top: 1vh;
    margin-top: 0;
    align-items: end;
    justify-items: center;
    justify-content: center;
    text-align: center;
    @include titleBackgroundGradient;
}

.navbar li
{
    list-style: none;
    background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.3) 30%,
        rgba(255, 255, 255, 0.5) 40%,
        rgba(255, 255, 255, 0.3) 66%,
        rgba(255, 255, 255, 0.2));
    cursor: pointer;
    caret-color: transparent;
    border: 1px solid #AAA;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.5);
    padding: 10px;
    @include textWithGlow;
}

.navbar li img
{
    width: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.navbar li span
{
    display: block;
}

/* TODO: hover for navbar button */

.navbar li.active
{
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.8) 30%,
        rgba(255, 255, 255, 1.0) 40%,
        rgba(255, 255, 255, 0.8) 66%,
        rgba(255, 255, 255, 0.6));
}
