apiVersion: 1

datasources:
  - name: empowerd
    type: influxdb
    access: proxy
    url: http://localhost:8086
    database: empowerd
    user: empowerd
    password: "{{ influxdb.users.empowerd.password }}"
    editable: false
    version: 1
